@model IRS.Web.ViewModels.Common.ChangePasswordViewModel
@using YuSpin.Fw.Web

@{
    ViewBag.Title = Labels.ChangePassword;
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-signin" } ))
        {
            @Html.AntiForgeryToken()
            <div class="col-sm-6 col-sm-offset-3">
                @Html.PageTitle(Labels.ChangePassword)
                <br />
                <div class="form-horizontal" with="changePassword.viewModel">
                    @Html.TextBoxGroupFor(x => x.OldPassword, new { data_bind = "value:oldPassword", type = "password", autocomplete = "off" })
                    @Html.Partial("_NewPasswordPartial", Model)
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        @Labels.Save
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/changepasswordjs")
    <script type="text/javascript">
        @{
                  var data = JsonHelper.Convert(Model);
                  @Html.Raw($"changePassword.init('{data}');");
              }
    </script>
}